@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
}

body {
  color: black;
  background-color: white;

  &::-webkit-scrollbar {
    width: .25rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #1e1e24;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6649b8;
  }
}

main {
  margin-left: 5rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;

  &:hover {
    width: 16rem;

    .link-text {
      
    }

    .nav-link {
      svg {
        
      }
    }
  }

  .navbar-nav {
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .nav-item {
      width: 100%;

      &:last-child {
        margin-top: auto;
      }

      .nav-link {
        display: flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        filter: grayscale(100%) opacity(.7);
        transition: var(--transition-speed);
        text-decoration: none;

        &:hover {
          filter: grayscale(0) opacity(1);
          background: var(--bg-secondary);
          color: var(--text-secondary);
        }

        i {
          min-width: 2rem;
          margin: 0 1.5rem;
          color: #df49a6;
        }
        
        .link-text {
          // display: none;
          margin-left: 1rem;
        }

        svg {
          max-height: 1.5rem;
          min-width: 2rem;
          margin: 0 1.5rem;
        }
      }
    }

    .logo {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1rem;
      text-align: center;
      color: var(--text-secondary);
      letter-spacing: .3ch;
      width: 100%;
      
      .nav-link {
        text-decoration: none;
        display: block;

        .link-text {

        }

        svg {
          transform: rotate(0deg);
          transition: transform var(--transition-speed);
          width: 1.5rem;
        }
      }
    }
  }
}

.navbar:hover .link-text {
  display: block;
}

.navbar:hover .logo .nav-link svg {
  transform: rotate(-180deg);
}